.main-slider {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  &__media {
    position: relative;
    max-height: 250px;
  }

  &__text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin: 0;
    color: #ffffff;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    background-color: $neptune;

    @media (max-height: 850px) {
      height: 80px;
    }

    @media (max-height: 670px) {
      height: 50px;
    }

    @media (max-width: 1150px) {
      height: 90px;
    }

    @media (max-width: 900px) {
      letter-spacing: 0;
    }
  }

  &__btn {
    position: absolute;
    bottom: 15%;
    left: 50px;
    z-index: 50;
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 0;
    outline: transparent;
    cursor: pointer;

    @media (max-height: 850px) {
      bottom: 12%;
    }

    @media (max-height: 670px) {
      bottom: 8%;
    }

    @media (max-width: 768px) {
      bottom: 18%;
    }
  }

  &__btn_left {
    background-image: url("../img/main-slider/arrow-left.svg");

    @media (max-width: 768px) {
      left: 20px;
    }
  }

  &__btn_right {
    right: 50px;
    left: auto;
    background-image: url("../img/main-slider/arrow-right.svg");

    @media (max-width: 1150px) {
      right: 25px;
    }

    @media (max-width: 768px) {
      right: 20px;
    }
  }

  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-slider__play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 55;
    width: 32px;
    height: 41px;
    background: url("../img/main-slider/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    outline: transparent;
    transform: translate(-50%, -50%);
  }
}
