.section-title {
  color: $dark;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;

  @media (max-width: 768px) {
    line-height: 65px;
  }

  @media (max-width: 576px) {
    font-size: 44px;
    line-height: 40px;
  }

  @media (max-width: 376px) {
    font-size: 35px;
    line-height: 30px;
  }
}

.section-title_center {
  text-align: center;
}
