<div class="menu">
  <button class="menu__close" aria-label="close menu">
    <span class="menu__close-line"></span>
    <span class="menu__close-line"></span>
  </button>
  <nav class="menu__nav">
    <ul class="menu__list">
      <li class="menu__item"><a class="menu__link" href="#">Become A Travel</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Featured Stories</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Featured Videos</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Newsletter</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Inspirations</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contacts</a></li>
    </ul>
  </nav>
</div>
<button class="burger" aria-label="Open menu">
  <span class="burger__line"></span>
  <span class="burger__line"></span>
</button>