.blog-article {
  padding-top: 615px;
  padding-bottom: 105px;

  @media (max-width: 768px) {
    padding-top: 115px;
    padding-bottom: 50px;
  }

  @media (max-width: 576px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 376px) {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  &__category {
    display: inline-block;
    margin-bottom: 20px;
    padding: 15px 30px;
    color: $white;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    text-align: center;
    background-color: $accent;
    border-radius: 100px;
    transition: 0.25s;

    &:hover {
      background: darken($accent, 10%);
    }
  }

  &__title {
    max-width: 40%;
    margin-bottom: 18px;
    color: $white;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;

    @media (max-width: 768px) {
      max-width: 50%;
      line-height: 54px;
    }

    @media (max-width: 576px) {
      max-width: 80%;
      line-height: 44px;
    }

    @media (max-width: 376px) {
      max-width: 100%;
      font-size: 35px;
      line-height: 35px;
    }
  }

  &__descr {
    max-width: 40%;
    margin-bottom: 40px;
    color: #ffffff;
    font-weight: 200;
    font-size: 14px;
    font-family: SFCompactText, sans-serif;
    line-height: 16px;

    @media (max-width: 768px) {
      max-width: 50%;
    }

    @media (max-width: 376px) {
      max-width: 100%;
    }
  }

  &__link {
    display: inline-block;
    margin: auto;
    background-color: $neptune;
  }
}
