<div class="slider-container">
  <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-1">
        <button class="slide-play btn-reset"></button>
        <h3 class="slide-title">A Guide To Rocky Mountain Vacations</h3>
      </div>
      <div class="swiper-slide swiper-slide-2">
        <button class="slide-play btn-reset"></button>
        <h3 class="slide-title">A Guide To Rocky Mountain Vacations</h3>
      </div>
      <div class="swiper-slide swiper-slide-3">
        <button class="slide-play btn-reset"></button>
        <h3 class="slide-title">A Guide To Rocky Mountain Vacations</h3>
      </div>
      ...
  </div>
</div>