.social {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_fb {
      width: 11px;
      height: 20px;
      background: url("../img/social/fb.svg");
    }

    &_tw {
      width: 20px;
      height: 17px;
      background: url("../img/social/tw.svg");
    }
  }
}
