$dark: #1c2e3d;
$gray: #788692;
$white: #ffffff;
$accent: #e8594e;
$neptune: #73afba;
$font-size: 16px; // Body Font Size
$text-color: #333; // Text Color
// $roboto: Roboto, sans-serif; // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
