.featured {
  position: relative;
  background-image: url("../img/featured/featured-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  &__stories {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    padding: 126px 133px;
    background-color: rgba(60, 74, 81, 0.9);

    @media (max-width: 1200px) {
      width: 45%;
    }

    @media (max-width: 992px) {
      padding: 90px 80px;
    }

    @media (max-width: 768px) {
      position: static;
      width: 100%;
    }

    @media (max-width: 576px) {
      padding: 40px 40px;
    }

    @media (max-width: 376px) {
      padding: 30px 30px;
    }
  }

  &__title {
    margin-bottom: 64px;
    color: $white;
    font-size: 64px;
    line-height: 80px;

    @media (max-width: 992px) {
      font-size: 50px;
    }

    @media (max-width: 768px) {
      margin-bottom: 44px;
    }

    @media (max-width: 768px) {
      line-height: 54px;
    }

    @media (max-width: 576px) {
      margin-bottom: 24px;
    }

    @media (max-width: 376px) {
      font-size: 35px;
      line-height: 40px;
      text-align: center;
    }
  }
}

.featured-list {
  &__item:last-child .featured-list__article {
    border: transparent;
  }

  &__article {
    display: flex;
    align-items: flex-start;
    padding: 32px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.502293);
  }

  &__img {
    width: 48px;
    height: 48px;
    margin-right: 32px;
    object-fit: cover;
    border-radius: 100%;
  }

  &__title {
    max-width: 288px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    a {
      color: #ffff;
      transition: 0.25s;
    }

    a:hover {
      color: #ccc;
    }
  }

  &__time {
    color: rgba(255, 255, 255, 0.502293);
    font-size: 11px;
    font-family: SFProText, sans-serif;
    line-height: 13px;
  }
}
