.newsletter {
  padding-top: 100px;
  padding-bottom: 150px;

  @media (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 179px;
  }

  @media (max-width: 576px) {
    padding-top: 40px;
    padding-bottom: 129px;
  }

  @media (max-width: 576px) {
    padding-top: 10px;
    padding-bottom: 100px;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 338px 133px 170px;
    background: url("../img/newsletter/newsletter-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 1200px) {
      padding: 338px 30px 170px;
    }

    @media (max-width: 576px) {
      padding-top: 50px;
      padding-bottom: 200px;
    }
  }

  .newsletter__text {
    max-width: 370px;

    @media (max-width: 868px) {
      padding-bottom: 170px;
    }
  }

  .newsletter__title {
    margin-bottom: 40px;
    color: $white;
  }

  .newsletter__descr {
    color: #ffffff;
    font-weight: 200;
    font-size: 14px;
    font-family: SFCompactText, sans-serif;
    line-height: 16px;
  }

  .newsletter__form {
    position: absolute;
    right: 133px;
    bottom: -96px;

    @media (max-width: 1200px) {
      right: 30px;
      bottom: -31px;
    }

    @media (max-width: 576px) {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
