.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;

    @media (max-width: 768px) {
      padding-top: 35px;
    }

    @media (max-width: 568px) {
      padding-top: 25px;
    }
  }
}
