.footer {
  margin-top: 140px;
  padding-top: 124px;
  border: 1px solid #c6c6c6;

  @media (max-width: 768px) {
    margin-top: 100px;
    padding-top: 90px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    position: relative;
    padding-bottom: 32px;
    font-size: 12px;
    font-family: HelveticaNeue, sans-serif;
    line-height: 14px;
    letter-spacing: 2.15px;
    text-transform: uppercase;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 48px;
      height: 1px;
      background: #57a773;
      content: "";
    }
  }

  &__column:last-child .footer__title::after {
    background: 0;
  }

  &__list {
    padding-top: 30px;
  }

  &__link {
    display: inline-block;
    margin-bottom: 20px;
    color: $gray;
    font-weight: 500;
    font-size: 15px;
    transition: 0.25s;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }

    &:hover {
      color: darken($gray, 15%);
    }
  }

  &__bottom {
    margin-top: 120px;
    border-top: 1px solid $gray;

    @media (max-width: 768px) {
      margin-top: 90px;
    }
  }

  &__copy {
    color: $gray;
    font-size: 13px;
    font-family: SFProText;
  }

  &__links {
    display: flex;
    align-items: center;

    &-item {
      margin-left: 32px;
    }
  }
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;

  @media (max-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
