.subs-form {
  width: 368px;
  padding-top: 30px;

  @media (max-width: 768px) {
    width: 300px;
  }

  &__field {
    width: 100%;
    height: 64px;
    margin-bottom: 16px;
    padding-left: 31px;
    background-image: url("../img/footer/user.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 31px) center;
    border: 1px solid $gray;
    border-radius: 4px;
  }

  &__button {
    width: 100%;
    height: 64px;
    padding: 25px 120px;
    background-color: $neptune;

    @media (max-width: 768px) {
      padding: 0;
    }
  }
}
